<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.searchproject.mapper.SearchMapper">
    <insert id="createPost" parameterType="com.example.searchproject.dto.SearchDto">
        INSERT INTO search (id,
                            title,
                            content,
                            postdate
        )
        values (#{id},
                #{title},
                #{content},
                NOW()
               )

    </insert>

    <select id="findID" resultType="com.example.searchproject.dto.SearchDto">
        select *
        from search
        where id = #{id}
    </select>

    <update id="change">
        update search
        set title = #{title},
            content = #{content},
            postdate = NOW()
        where id  = #{id}
    </update>

    <delete id="delete">
        delete from search
        where id = #{id}
    </delete>

    <!-- keyword로 title 검색 -->
    <select id="TitleSearch" resultType="com.example.searchproject.dto.SearchDto">
        select * from (
        select id, title, content, postdate
        from search
        where title like concat ('%',#{keyword},'%')
        order by title desc) as T1
        limit #{skip},#{amount}
    </select>

    <!-- keyword로 id 검색 -->
    <select id="IdSearch" resultType="com.example.searchproject.dto.SearchDto">
        select * from (
            select id, title, content, postdate
            from search
            where id like concat ('%',#{id},'%')
            order by id desc) as T1
            limit #{skip},#{amount}
    </select>

    <!-- keyword로 postdate 검색 -->
    <select id="PostdateSearch" resultType="com.example.searchproject.dto.SearchDto">
        select * from (
            select id, title, content, postdate
            from search
            where postdate like concat ('%',#{postdate},'%')
            order by postdate desc) as T1
            limit #{skip},#{amount}
    </select>

    <!-- 게시물 목록(페이징) -->
    <select id="getListPaging" resultType="com.example.searchproject.dto.SearchDto">
        select * from (
        select id, title, content, postdate
        from search order by id desc) as T1
        limit #{skip},#{amount}
    </select>

</mapper>
