<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.searchproject.mapper.SearchMapper">
    <insert id="createPost" parameterType="com.example.searchproject.dto.SearchDto">
        INSERT INTO search (id,
                            title,
                            content,
                            postdate
        )
        values (#{id},
                #{title},
                #{content},
                NOW()
               )

    </insert>

    <select id="findID" resultType="com.example.searchproject.dto.SearchDto">
        select *
        from search
        where id = #{id}
    </select>

    <update id="change">
        update search
        set title = #{title},
            content = #{content},
            postdate = NOW()
        where id  = #{id}
    </update>

    <delete id="delete">
        delete from search
        where id = #{id}
    </delete>

    <select id="titlesearch" resultType="com.example.searchproject.dto.SearchDto">
        select * from (
        select id, title, content, postdate
        from search
        where title like concat ('%',#{keyword},'%')
        order by title desc) as T1
        limit #{skip},#{amount}
    </select>

    <!-- 게시물 목록(페이징) -->
    <select id="getListPaging" resultType="com.example.searchproject.dto.SearchDto">

        select * from (
        select id, title, content, postdate
        from search order by id desc) as T1
        limit #{skip},#{amount}

    </select>

    <select id="getTotal" resultType="int">
        select count(*) from vam_board
        <if test="keyword != null">
            where title like concat('%',#{keyword},'%')
        </if>
    </select>

</mapper>
